html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-print-color-scheme: dark;
    color-scheme: dark;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

strong,
b {
    font-weight: 700;
}

body {
    margin: 0;
    color: #fff;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #121212;
}

@media print {
    body {
        background-color: #F7FBFD;
    }
}

body::backdrop {
    background-color: #121212;
}

html {
    --ps-white: #F7FBFD;
    --ps-black: #080808;
    --ps-primary: #18E16A;
    --ps-success: #18E16A;
    --ps-warn: #EBBC42;
    --ps-error: #860E0E;
    --ps-gray-900: #191C1C;
    --ps-gray-800: #2E3131;
    --ps-gray-700: #444747;
    --ps-gray-600: #5B5F5F;
    --ps-gray-500: #737878;
    --ps-gray-400: #8D9191;
    --ps-gray-300: #A7ACAC;
    --ps-gray-200: #C2C7C7;
    --ps-gray-100: #DDE3E3;
    --ps-gray-50: #ECF1F1;
    --ps-primary-900: #052E15;
    --ps-primary-800: #0A5C2B;
    --ps-primary-700: #0E863E;
    --ps-primary-600: #13B453;
    --ps-primary-500: #18E16A;
    --ps-primary-400: #42EB86;
    --ps-primary-300: #70F0A3;
    --ps-primary-200: #A3F5C4;
    --ps-primary-100: #D1FAE1;
    --ps-primary-50: #E8FDF0;
    --ps-yellow-900: #2E2305;
    --ps-yellow-800: #5C450A;
    --ps-yellow-700: #86640E;
    --ps-yellow-600: #B48713;
    --ps-yellow-500: #E1A918;
    --ps-yellow-400: #EBBC42;
    --ps-yellow-300: #F0CC70;
    --ps-yellow-200: #F5E3A3;
    --ps-yellow-100: #FAF1D1;
    --ps-yellow-50: #FDF8E8;
    --ps-red-900: #2E0505;
    --ps-red-800: #5C0A0A;
    --ps-red-700: #860E0E;
    --ps-red-600: #B41313;
    --ps-red-500: #E11818;
    --ps-red-400: #EB4242;
    --ps-red-300: #F07070;
    --ps-red-200: #F5A3A3;
    --ps-red-100: #FAD1D1;
    --ps-red-50: #FDE8E8;
}

body {
    color: #8D9191;
    background: var(--ps-black);
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}

picture {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 100%;
}

picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

input::-webkit-input-placeholder {
    color: var(--ps-gary-500);
    font-size: inherit;
}

input::-moz-placeholder {
    color: var(--ps-gary-500);
    font-size: inherit;
}

input:-ms-input-placeholder {
    color: var(--ps-gary-500);
    font-size: inherit;
}

input::placeholder {
    color: var(--ps-gary-500);
    font-size: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-transition: background-color 600000s 0s, color 600000s 0s;
    transition: background-color 600000s 0s, color 600000s 0s;
}

.mui-style-cy9jwl {
    height: 88px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}

.mui-style-10zbi9v-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mui-style-10zbi9v-MuiStack-root>:not(style)+:not(style) {
    margin: 0;
    margin-left: 8.75px;
}

.mui-style-i6c0mc-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 300;
    font-size: 6rem;
    line-height: 1.167;
    font-family: '__Technomite_87f547', '__Technomite_Fallback_87f547';
    font-weight: 400;
    font-size: 15.2727px;
    line-height: 20px;
    color: #bfff0b;
}

.mui-style-1drgtl0-MuiButtonBase-root-MuiIconButton-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: #fff;
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mui-style-1drgtl0-MuiButtonBase-root-MuiIconButton-root::-moz-focus-inner {
    border-style: none;
}

.mui-style-1drgtl0-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .mui-style-1drgtl0-MuiButtonBase-root-MuiIconButton-root {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.mui-style-1drgtl0-MuiButtonBase-root-MuiIconButton-root:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

@media (hover: none) {
    .mui-style-1drgtl0-MuiButtonBase-root-MuiIconButton-root:hover {
        background-color: transparent;
    }
}

.mui-style-1drgtl0-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
}

@media (min-width:0px) {
    .mui-style-lp7iha {
        padding-bottom: 23px;
    }
}

@media (min-width:834px) {
    .mui-style-lp7iha {
        padding-bottom: 112px;
    }
}

.mui-style-1iqalux {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 20px;
}

@media (min-width:0px) {
    .mui-style-1iqalux {
        margin-bottom: 60px;
        padding-top: 20px;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

@media (min-width:834px) {
    .mui-style-1iqalux {
        margin-bottom: 0px;
        padding-top: 48px;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.mui-style-1r8oj0o {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (min-width:0px) {
    .mui-style-1r8oj0o {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (min-width:834px) {
    .mui-style-1r8oj0o {
        -webkit-align-items: unset;
        -webkit-box-align: unset;
        -ms-flex-align: unset;
        align-items: unset;
    }
}

.mui-style-1v5cqa-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 83px;
    font-family: '__Technomite_87f547', '__Technomite_Fallback_87f547';
    font-weight: 400;
    font-size: 54px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    text-shadow: 0px 0px 40px #bfff0b;
}

.mui-style-1xk9oq0-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (min-width:0px) {
    .mui-style-1xk9oq0-MuiTypography-root {
        text-align: center;
        margin-top: 32px;
        font-size: 14px;
    }
}

@media (min-width:834px) {
    .mui-style-1xk9oq0-MuiTypography-root {
        text-align: start;
        margin-top: 40px;
        font-size: 20px;
    }
}

.mui-style-13djm93 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width:0px) {
    .mui-style-13djm93 {
        margin-top: 20px;
        font-size: 14px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (min-width:834px) {
    .mui-style-13djm93 {
        margin-top: 32px;
        font-size: 16px;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.mui-style-ke5b5s-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #bfff0b;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: inherit;
}

.mui-style-n4864c-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: inherit;
}

@media (min-width:0px) {
    .mui-style-n4864c-MuiTypography-root {
        text-align: center;
    }
}

@media (min-width:834px) {
    .mui-style-n4864c-MuiTypography-root {
        text-align: start;
    }
}

.mui-style-n4864c-MuiTypography-root maxWidth {
    xs: 320px;
    md: unset;
}

.mui-style-1wm2osw-MuiButtonBase-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    padding: 16px 40px;
    border: 1px solid #bfff0b;
    border-radius: unset;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #bfff0b;
    margin-top: 20px;
}

.mui-style-1wm2osw-MuiButtonBase-root::-moz-focus-inner {
    border-style: none;
}

.mui-style-1wm2osw-MuiButtonBase-root.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .mui-style-1wm2osw-MuiButtonBase-root {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

@media (max-width: 600px) {
    .mui-style-1wm2osw-MuiButtonBase-root {
        font-size: 14px;
    }
}

.mui-style-o90ly8-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    margin-left: 4px;
}

.mui-style-s8ytmg {
    position: relative;
}

@media (min-width:0px) {
    .mui-style-s8ytmg {
        width: 342px;
        height: 228px;
    }
}

@media (min-width:834px) {
    .mui-style-s8ytmg {
        width: 600px;
        height: 342px;
    }
}

.mui-style-n7bcoy {
    width: 100%;
    margin-top: 52px;
    padding-left: 60px;
    padding-right: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 120px;
    column-gap: 120px;
}

@media (max-width: 600px) {
    .mui-style-n7bcoy {
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

@media (min-width:0px) {
    .mui-style-4yt62a {
        width: 326.72px;
        height: 229px;
        margin-top: 32px;
    }
}

@media (min-width:834px) {
    .mui-style-4yt62a {
        width: 623px;
        height: 437px;
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .mui-style-n2l5op {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.mui-style-odcb2z-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 83px;
    font-family: '__Technomite_87f547', '__Technomite_Fallback_87f547';
    font-weight: 400;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    text-shadow: 0px 0px 40px #bfff0b;
    border-right: 4px solid transparent;
    -webkit-animation: animation-1w1xnny 1s step-end infinite;
    animation: animation-1w1xnny 1s step-end infinite;
}

@media (max-width: 600px) {
    .mui-style-odcb2z-MuiTypography-root {
        display: none;
    }
}

@media (min-width:0px) {
    .mui-style-b9oy54 {
        display: block;
    }
}

@media (min-width:834px) {
    .mui-style-b9oy54 {
        display: none;
    }
}

.mui-style-uc9rdc-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 83px;
    font-family: '__Technomite_87f547', '__Technomite_Fallback_87f547';
    font-weight: 400;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    text-shadow: 0px 0px 40px #bfff0b;
    border-right: 4px solid transparent;
    -webkit-animation: animation-1w1xnny 1s step-end;
    animation: animation-1w1xnny 1s step-end;
}

@media (max-width: 600px) {
    .mui-style-uc9rdc-MuiTypography-root {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        text-align: center;
        padding: 0 19.5px;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        height: 52px;
    }
}

.mui-style-1nd0wyk-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 83px;
    font-family: '__Technomite_87f547', '__Technomite_Fallback_87f547';
    font-weight: 400;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    text-shadow: 0px 0px 40px #bfff0b;
    border-right: 4px solid transparent;
    -webkit-animation: animation-1w1xnny 2s step-end infinite;
    animation: animation-1w1xnny 2s step-end infinite;
}

@media (max-width: 600px) {
    .mui-style-1nd0wyk-MuiTypography-root {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        text-align: center;
        font-size: 40px;
        line-height: 52px;
        height: 52px;
        margin-top: 5px;
    }
}

.mui-style-g6ic9r-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    width: 590px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 40px;
}

@media (max-width: 600px) {
    .mui-style-g6ic9r-MuiTypography-root {
        white-space: break-spaces;
        margin-top: 32px;
        margin-bottom: 32px;
        width: 327px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 200%;
        text-align: center;
    }
}

.mui-style-1xaekgw {
    margin-top: 20px;
}

.mui-style-1u466u8-MuiButtonBase-root-MuiButton-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #F7FBFD;
    box-shadow: none;
    text-transform: none;
    height: 36px;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 16px;
    background: #bfff0b;
    border-radius: unset;
    padding: 16px 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.mui-style-1u466u8-MuiButtonBase-root-MuiButton-root::-moz-focus-inner {
    border-style: none;
}

.mui-style-1u466u8-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .mui-style-1u466u8-MuiButtonBase-root-MuiButton-root {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.mui-style-1u466u8-MuiButtonBase-root-MuiButton-root:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(247, 251, 253, 0.08);
}

@media (hover: none) {
    .mui-style-1u466u8-MuiButtonBase-root-MuiButton-root:hover {
        background-color: transparent;
    }
}

.mui-style-1u466u8-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: rgba(255, 255, 255, 0.3);
}

.mui-style-1u466u8-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #bfff0b;
}

@media (max-width: 600px) {
    .mui-style-1u466u8-MuiButtonBase-root-MuiButton-root {
        padding: 11px 20px;
        font-size: 14px;
    }
}

.mui-style-j5cf3a {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: relative;
    height: 60px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-top: 100px;
}

@media (max-width: 600px) {
    .mui-style-j5cf3a {
        height: 40px;
        font-weight: 500;
    }
}

.mui-style-167g1zd {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    min-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation-name: animation-v02n8w;
    animation-name: animation-v02n8w;
}

.mui-style-167g1zd>img {
    margin-left: 20px;
    margin-right: 20px;
}

.mui-style-1u7eu8c {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    min-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-animation-name: animation-13n0t3n;
    animation-name: animation-13n0t3n;
}

.mui-style-1u7eu8c>img {
    margin-left: 20px;
    margin-right: 20px;
}

.mui-style-1cxmgf4 {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 86px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-column-gap: 30px;
    column-gap: 30px;
}

@media (max-width: 600px) {
    .mui-style-1cxmgf4 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.mui-style-3poy3m {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: auto;
    border: 1px solid rgba(191, 255, 11, 0.7);
    padding: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 20px;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    box-sizing: border-box;
}

.mui-style-3poy3m:hover {
    box-shadow: 0px 6px 30px #bfff0b;
}

@media (max-width: 600px) {
    .mui-style-3poy3m {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        padding: 20px;
        gap: 10px;
        width: 327px;
        background: #000000;
        border: 1px solid rgba(191, 255, 11, 0.7);
        margin-bottom: 24px;
    }
}

.mui-style-17oemn0 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.mui-style-1oweaw5-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-family: '__Technomite_87f547', '__Technomite_Fallback_87f547';
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    color: #bfff0b;
}

@media (max-width: 600px) {
    .mui-style-1oweaw5-MuiTypography-root {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        padding-top: 10px;
    }
}

.mui-style-is0s2l-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mui-style-is0s2l-MuiStack-root>:not(style)+:not(style) {
    margin: 0;
    margin-left: 4px;
}

.mui-style-6eodf1-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #BFFF0B;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.mui-style-wc18nx-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 600px) {
    .mui-style-wc18nx-MuiTypography-root {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
}

.mui-style-pk2ssx-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

@media (max-width: 600px) {
    .mui-style-pk2ssx-MuiTypography-root {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
}

.mui-style-12uoqvf {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .mui-style-12uoqvf {
        padding: 0;
    }
}

.mui-style-7hb6zb-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: '__Technomite_87f547', '__Technomite_Fallback_87f547';
    font-weight: 400;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 40px #bfff0b;
    border-right: 4px solid transparent;
}

@media (max-width: 600px) {
    .mui-style-7hb6zb-MuiTypography-root {
        text-align: center;
        white-space: break-spaces;
    }
}

.mui-style-otgmd7-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 40px 0 32px 0;
    max-width: 1143px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 600px) {
    .mui-style-otgmd7-MuiTypography-root {
        width: 327px;
        padding: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 200%;
        text-align: center;
    }
}

.mui-style-1ql3ag4 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 130px;
}

@media (max-width:639.95px) {
    .mui-style-1ql3ag4 {
        padding-top: 60px;
    }
}

.mui-style-13t78xg-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-family: '__Technomite_87f547', '__Technomite_Fallback_87f547';
    font-weight: 400;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 40px #bfff0b;
    font-size: 54px;
    line-height: 70px;
}

@media (max-width:639.95px) {
    .mui-style-13t78xg-MuiTypography-root {
        font-size: 32px;
        line-height: 41px;
    }
}

.mui-style-zsrisp-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
}

@media (min-width:0px) {
    .mui-style-zsrisp-MuiStack-root {
        margin-top: 30px;
    }
}

@media (min-width:640px) {
    .mui-style-zsrisp-MuiStack-root {
        margin-top: 140px;
    }
}

.mui-style-1h9o1gf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #232323;
    border: 1px solid #BFFF0B;
    width: 380px;
    height: 426px;
    padding-top: 36px;
    padding-left: 48px;
    padding-right: 26px;
    padding-bottom: 33px;
}

@media (max-width:639.95px) {
    .mui-style-1h9o1gf {
        width: 328px;
        padding-top: 38px;
        padding-right: 31px;
        padding-left: 31px;
        height: 367px;
    }
}

.mui-style-1n9vi23-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-family: '__Technomite_87f547', '__Technomite_Fallback_87f547';
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #fff;
}

@media (max-width:639.95px) {
    .mui-style-1n9vi23-MuiTypography-root {
        font-size: 20px;
        text-align: center;
    }
}

.mui-style-1bu5glg-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    line-height: 136%;
    margin-top: 23px;
}

@media (max-width:639.95px) {
    .mui-style-1bu5glg-MuiTypography-root {
        font-size: 14px;
    }
}

.mui-style-1y6j3z4-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: auto;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width:0px) {
    .mui-style-1y6j3z4-MuiStack-root {
        -webkit-column-gap: 28px;
        column-gap: 28px;
    }
}

@media (min-width:640px) {
    .mui-style-1y6j3z4-MuiStack-root {
        -webkit-column-gap: 14px;
        column-gap: 14px;
    }
}

.mui-style-yw9qgg-MuiButtonBase-root-MuiButton-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #F7FBFD;
    box-shadow: none;
    text-transform: none;
    height: 36px;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    width: 164px;
    height: 60px;
    border-radius: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 132%;
    color: #000;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 56.58%, rgba(255, 255, 255, 0.5) 123.86%), #9FEA38;
}

.mui-style-yw9qgg-MuiButtonBase-root-MuiButton-root::-moz-focus-inner {
    border-style: none;
}

.mui-style-yw9qgg-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .mui-style-yw9qgg-MuiButtonBase-root-MuiButton-root {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.mui-style-yw9qgg-MuiButtonBase-root-MuiButton-root:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(247, 251, 253, 0.08);
}

@media (hover: none) {
    .mui-style-yw9qgg-MuiButtonBase-root-MuiButton-root:hover {
        background-color: transparent;
    }
}

.mui-style-yw9qgg-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: rgba(255, 255, 255, 0.3);
}

@media (max-width:639.95px) {
    .mui-style-yw9qgg-MuiButtonBase-root-MuiButton-root {
        width: 138px;
        height: 40px;
        font-size: 14px;
    }
}

.mui-style-1a1t2cb-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    line-height: 132%;
    color: #fff;
}

@media (max-width:639.95px) {
    .mui-style-1a1t2cb-MuiTypography-root {
        font-size: 14px;
    }
}

.mui-style-gxtvhe-MuiButtonBase-root-MuiButton-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #F7FBFD;
    box-shadow: none;
    text-transform: none;
    height: 36px;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    width: 164px;
    height: 60px;
    border-radius: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 132%;
    color: #000;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 56.58%, rgba(255, 255, 255, 0.5) 123.86%), #FF82AE;
}

.mui-style-gxtvhe-MuiButtonBase-root-MuiButton-root::-moz-focus-inner {
    border-style: none;
}

.mui-style-gxtvhe-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .mui-style-gxtvhe-MuiButtonBase-root-MuiButton-root {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.mui-style-gxtvhe-MuiButtonBase-root-MuiButton-root:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(247, 251, 253, 0.08);
}

@media (hover: none) {
    .mui-style-gxtvhe-MuiButtonBase-root-MuiButton-root:hover {
        background-color: transparent;
    }
}

.mui-style-gxtvhe-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: rgba(255, 255, 255, 0.3);
}

@media (max-width:639.95px) {
    .mui-style-gxtvhe-MuiButtonBase-root-MuiButton-root {
        width: 138px;
        height: 40px;
        font-size: 14px;
    }
}

.mui-style-yztucl-MuiButtonBase-root-MuiButton-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #F7FBFD;
    box-shadow: none;
    text-transform: none;
    height: 36px;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    width: 164px;
    height: 60px;
    border-radius: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 132%;
    color: #000;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 56.58%, rgba(255, 255, 255, 0.5) 123.86%), #44D8BF;
}

.mui-style-yztucl-MuiButtonBase-root-MuiButton-root::-moz-focus-inner {
    border-style: none;
}

.mui-style-yztucl-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .mui-style-yztucl-MuiButtonBase-root-MuiButton-root {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.mui-style-yztucl-MuiButtonBase-root-MuiButton-root:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(247, 251, 253, 0.08);
}

@media (hover: none) {
    .mui-style-yztucl-MuiButtonBase-root-MuiButton-root:hover {
        background-color: transparent;
    }
}

.mui-style-yztucl-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: rgba(255, 255, 255, 0.3);
}

@media (max-width:639.95px) {
    .mui-style-yztucl-MuiButtonBase-root-MuiButton-root {
        width: 138px;
        height: 40px;
        font-size: 14px;
    }
}

.mui-style-zgva6f-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: '__Technomite_87f547', '__Technomite_Fallback_87f547';
    font-weight: 400;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 40px #bfff0b;
    border-right: 4px solid transparent;
}

@media (max-width: 600px) {
    .mui-style-zgva6f-MuiTypography-root {
        width: 327px;
        font-size: 32px;
        line-height: 41px;
        text-align: center;
        letter-spacing: 0.1em;
        white-space: break-spaces;
    }
}

.mui-style-15ewhz-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 40px 0 32px 0;
    max-width: 1143px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 600px) {
    .mui-style-15ewhz-MuiTypography-root {
        width: 327px;
        padding: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 200%;
        text-align: center;
    }
}

.mui-style-19kjqc5 {
    max-width: 100%;
    overflow: auto;
}

.mui-style-kcpecw-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 30px;
    min-width: 640px;
    margin-left: 30px;
}

@media (min-width:0px) {
    .mui-style-kcpecw-MuiStack-root>:not(style)+:not(style) {
        margin: 0;
        margin-left: 16px;
    }
}

@media (min-width:834px) {
    .mui-style-kcpecw-MuiStack-root>:not(style)+:not(style) {
        margin: 0;
        margin-left: 32px;
    }
}

.mui-style-pnqdv6 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: auto;
    border: 1px solid rgba(191, 255, 11, 0.7);
    padding: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    row-gap: 20px;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    box-sizing: border-box;
}

.mui-style-pnqdv6:hover {
    box-shadow: 0px 6px 30px #bfff0b;
}

@media (max-width: 600px) {
    .mui-style-pnqdv6 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        padding: 20px;
        gap: 10px;
        background: #111303;
        border: 1px solid rgba(191, 255, 11, 0.2);
    }
}

.mui-style-1lz54jv-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #ffffff;
}

@media (max-width: 600px) {
    .mui-style-1lz54jv-MuiTypography-root {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
    }
}

.mui-style-bfkyd8-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

@media (max-width: 600px) {
    .mui-style-bfkyd8-MuiTypography-root {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
}

.mui-style-1mofjm6 {
    padding: 60px 106px;
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .mui-style-1mofjm6 {
        padding: 0 24px;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.mui-style-biot8j-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mui-style-biot8j-MuiStack-root>:not(style)+:not(style) {
    margin: 0;
    margin-left: 10px;
}

@media (min-width:0px) {
    .mui-style-biot8j-MuiStack-root {
        padding: 40px 0;
    }
}

@media (min-width:834px) {
    .mui-style-biot8j-MuiStack-root {
        padding: 0px;
    }
}

.mui-style-1rntksa-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 300;
    font-size: 6rem;
    line-height: 1.167;
    font-family: '__Technomite_87f547', '__Technomite_Fallback_87f547';
    font-weight: 400;
    font-size: 34.9091px;
    line-height: 23px;
    color: #bfff0b;
}

@media (max-width: 600px) {
    .mui-style-1rntksa-MuiTypography-root {
        font-size: 17.4545px;
    }
}

.mui-style-108gbix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-column-gap: 93px;
    column-gap: 93px;
}

@media (max-width: 600px) {
    .mui-style-108gbix {
        -webkit-column-gap: 28px;
        column-gap: 28px;
    }
}

.mui-style-1lqry6y-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.mui-style-1lqry6y-MuiStack-root>:not(style)+:not(style) {
    margin: 0;
    margin-top: 20px;
}

.mui-style-1kdhkr5-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

@media (max-width: 600px) {
    .mui-style-1kdhkr5-MuiTypography-root {
        padding: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
}

.mui-style-12b59cg-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.mui-style-12b59cg-MuiStack-root>:not(style)+:not(style) {
    margin: 0;
    margin-top: 12px;
}

.mui-style-zuqvor-MuiTypography-root {
    margin: 0;
    font-family: '__SpaceGrotesk_6d846f', '__SpaceGrotesk_Fallback_6d846f';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

@media (max-width: 600px) {
    .mui-style-zuqvor-MuiTypography-root {
        padding: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 200%;
        text-align: center;
    }
}



#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: primary;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px primary, 0 0 5px primary;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: primary;
    border-left-color: primary;
    border-radius: 50%;
    -webkit-animation: nprogresss-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




@-webkit-keyframes animation-1w1xnny {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

@keyframes animation-1w1xnny {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

@-webkit-keyframes animation-v02n8w {
    from {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }

    to {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes animation-v02n8w {
    from {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }

    to {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}


@-webkit-keyframes animation-13n0t3n {
    from {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes animation-13n0t3n {
    from {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}