@font-face {
    font-family: __Technomite_87f547;
    src: url(/_next/static/media/afb5a11a315b1354-s.p.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: __Technomite_Fallback_87f547;
    src: local("Arial");
    ascent-override: 68.87%;
    descent-override: 17.18%;
    line-gap-override: 0.00%;
    size-adjust: 150.03%
}

.__className_87f547 {
    font-family: __Technomite_87f547, __Technomite_Fallback_87f547
}